<li class="logged-in-stab">
  <a href="javascript:void(0);" data-toggle="dropdown">
    <div class="account-avatar"></div>
    {:user('name')}
    <i class="icon-dropdown"></i>
  </a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    <li><a tabindex="-1" href="{:U('Dashboard/index')}">工作台</a></li>
    <?php if (user('is_admin')): ?>
      <li><a tabindex="-1" href="{:U('Admin/users')}">公益机构管理</a></li>
      <li><a tabindex="-1" href="{:U('Admin/events')}">活动/项目管理</a></li>
      <li><a tabindex="-1" href="{:U('Local/manage')}">二级地图管理</a></li>
      <li><a tabindex="-1" href="{:U('Medal/index')}">勋章管理</a></li>
      <li role="presentation" class="divider"></li>
      <li><a tabindex="-1" href="{:U('Event/add')}/type/csr">发布CSR信息</a></li>
      <li><a tabindex="-1" href="{:U('Event/add')}/type/case">发布对接案例</a></li>
    <?php else: ?>
      <li><a tabindex="-1" href="{:U('Event/manage')}">活动管理</a></li>
      <?php foreach (O('LocalMap')->byUserId(user('id')) as $localMap): ?>
        <li><a tabindex="-1" href="{:U('Local/index')}/name/{$localMap.identifier}">{$localMap.name}</a></li>
        <li><a tabindex="-1" href="{:U('Local/module_edit')}/local_id/{$localMap.id}">管理{$localMap.name}</a></li>
      <?php endforeach ?>
    <?php endif ?>
    
    <li role="presentation" class="divider"></li>
    <li><a tabindex="-1" href="{:U('Account/logout')}">退出</a></li>
  </ul>
</li>