<!DOCTYPE html>

<!--[if lt IE 8]>

<html lang="zh-cn"
      
      xmlns:fb="http://ogp.me/ns/fb#"
      class="ie">

<![endif]-->

<!--[if IE 8]>

<html lang="zh-cn"
      
      xmlns:fb="http://ogp.me/ns/fb#"
      class="ie ie8">

<![endif]-->

<!--[if IE 9]>

  <html lang="zh-cn"
      
      xmlns:fb="http://ogp.me/ns/fb#"
      class="ie ie9">

<![endif]-->

<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="zh-cn"
      
      xmlns:fb="http://ogp.me/ns/fb#">

<!--<![endif]-->

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><block name="title"></block> 公益地图</title>
        {:css('jquery-ui')}
        {:css('jquery.fancybox')}
        {:css('bootplus')}
        {:css('header')}
        
    <block name="head">
    </block>
        {:css()}

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?872dddf0962c4b1a38db3a043b36affc";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
        
  </head>
  
<body>

<div id="header" class="navbar navbar-top">
  <div class="navbar-inner">
    <div class="container container-full-width page-container page-container-responsive navbar-container">
      <a href="{:U('Index/index')}" class="brand NGO20">NGO20</a>
      <ul class="nav hide-phone">
        <li id="header-search">
         <form action="{:U('Search/result')}" id="search-form">
           <div id="search-bar">
             <i class="icon icon-search-homepage"></i>
             <input type="text" placeholder="输入你感兴趣的" autocomplete="off" name="q" id="header-search-input">
             <div id="header-search-result">
                <span class="search-sub-text">输入关键词开始搜索</span>
             </div>
           </div>
         </form>
        </li>
      </ul>
      <ul class="nav pull-right help-menu hide-phone" style="margin-left:0;">
        
        <li class="list-your-space hide-phone">
          <a id="create-event-button" class="" href="{:U('Event/add')}">发布活动/项目</a>
        </li>
      </ul>
      <ul class="nav pull-right logged-out">
        <li><a data-login-modal="" href="{:U('Index/list_index')}">名录<i class="icon-dropdown"></i></a></li>
        <?php if (!user()): ?>
        <li><a class="fancybox.ajax fancybox register-link" href="__APP__/Account/partial_register_box">注册</a></li>
        <li><a class="fancybox.ajax fancybox login-link" href="__APP__/Account/partial_login_box">登录</a></li>
        <?php else: ?>
        <include file="layout:_login_stab"/>
        <?php endif ?>
        <li><a data-login-modal="" href="#">中文/Eng<i class="icon-dropdown"></i></a></li>
      </ul>
    </div>
  </div>
</div>

<?php if(user()): ?>
<div class="subnav">
  <div class="container">
    <ul>
      <li class="{:active_for('Dashboard/index')}"><a href="{:U('Dashboard/index')}">工作台</a></li>
      <!-- <li><a href="#">站内信</a></li> -->
      <li class="{:active_for('Event/manage')}"><a href="{:U('Event/manage')}">活动/项目管理</a></li>
      <?php if(user('user_id')): ?>
      <li class="update-org-info-link {:active_for('User/edit')}"><a href="{:U('User/edit')}">更新机构信息</a></li>
        <?php if(user('local_map')): ?>
          <?php foreach(user('local_map') as $local_map): ?>
              <li><a href="{:U('Local/index')}/name/{$local_map.identifier}">{$local_map.name}</a></li>
              <li><a href="{:U('Index/list_index')}/type/ngo/model/users/province/{$local_map.province}">审核{$local_map.province}</a></li>
          <?php endforeach; ?>
        <?php endif; ?>
      <?php else: ?>
      <li class="create-new-org-link {:active_for('User/add')}"><a href="{:U('User/add')}">登记公益机构</a></li>
      <?php endif; ?>
      <?php foreach (O('LocalMap')->byUserId(user('id')) as $localMap): ?>
        <li class="{:active_for('Local/*')}"><a href="{:U('Local/index')}/name/{$localMap.identifier}">{$localMap.name}</a></li>
      <?php endforeach ?>
      <li class="{:active_for('Account/settings')}"><a href="{:U('Account/settings')}">账户设置</a></li>
      <?php if (user('is_admin')): ?>
        <li>
        <div class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">管理员工具</a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li><a tabindex="-1" href="{:U('Admin/users')}">公益机构管理</a></li>
            <li><a tabindex="-1" href="{:U('Admin/events')}">活动/项目管理</a></li>
            <li><a tabindex="-1" href="{:U('Admin/cover_pictures')}">首页图片管理</a></li>
            <li><a tabindex="-1" href="{:U('Local/manage')}">二级地图管理</a></li>
            <li><a tabindex="-1" href="{:U('Medal/index')}">勋章管理</a></li>
          </ul>
        </div>
      </li>
      <?php endif ?>
    </ul>
  </div>
</div>
<?php endif; ?>

<block name="body"></block>
<block name="footer">
</block>
<script>
    var app_path="__APP__";
</script>

{:js('jquery-1.11.1.min')}
{:js('jquery-ui.min')}
{:js('jquery.fancybox')}
{:js('bootstrap.min')}
{:js('header')}
<block name="script-before"></block>
{:js()}
{:js('-jquery.placeholder', 9)}
<script>
$(function(){
  $('.dropdown-toggle').dropdown();
})
</script>
<block name="script-after"></block>
<?php if(isset($_SESSION['flash']) || isset($with_notification)): ?>
{:js('-toastr.min')}
{:css('-toastr.min')}
<?php endif; ?>
<?php if(isset($_SESSION['flash'])): ?>
  <script>
  $(function(){
    toastr.{$_SESSION.flash.type}('{$_SESSION.flash.content}');
  });
  </script>
  <?php unset($_SESSION['flash']); ?>
<?php endif; ?>
{:js()}
<script>
// Include the UserVoice JavaScript SDK (only needed once on a page)
UserVoice=window.UserVoice||[];(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/qFoPqAhobLYZMAb72mKZw.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})();

//
// UserVoice Javascript SDK developer documentation:
// https://www.uservoice.com/o/javascript-sdk
//

// Set colors
UserVoice.push(['set', {
  accent_color: '#448dd6',
  trigger_color: 'white',
  trigger_background_color: 'rgba(46, 49, 51, 0.6)'
}]);

// Identify the user and pass traits
// To enable, replace sample data with actual user traits and uncomment the line
UserVoice.push(['identify', {
  //email:      'john.doe@example.com', // User’s email address
  //name:       'John Doe', // User’s real name
  //created_at: 1364406966, // Unix timestamp for the date the user signed up
  //id:         123, // Optional: Unique id of the user (if set, this should not change)
  //type:       'Owner', // Optional: segment your users by type
  //account: {
  //  id:           123, // Optional: associate multiple users with a single account
  //  name:         'Acme, Co.', // Account name
  //  created_at:   1364406966, // Unix timestamp for the date the account was created
  //  monthly_rate: 9.99, // Decimal; monthly rate of the account
  //  ltv:          1495.00, // Decimal; lifetime value of the account
  //  plan:         'Enhanced' // Plan name for the account
  //}
}]);

// Add default trigger to the bottom-right corner of the window:
UserVoice.push(['addTrigger', { mode: 'contact', trigger_position: 'bottom-right' }]);

// Or, use your own custom trigger:
//UserVoice.push(['addTrigger', '#id', { mode: 'contact' }]);

// Autoprompt for Satisfaction and SmartVote (only displayed under certain conditions)
UserVoice.push(['autoprompt', {}]);
</script>
</body>
</html>