<!DOCTYPE html>

<!--[if lt IE 8]>

<html lang="zh-cn"
      
      xmlns:fb="http://ogp.me/ns/fb#"
      class="ie">

<![endif]-->

<!--[if IE 8]>

<html lang="zh-cn"
      
      xmlns:fb="http://ogp.me/ns/fb#"
      class="ie ie8">

<![endif]-->

<!--[if IE 9]>

  <html lang="zh-cn"
      
      xmlns:fb="http://ogp.me/ns/fb#"
      class="ie ie9">

<![endif]-->

<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="zh-cn"
      
      xmlns:fb="http://ogp.me/ns/fb#">

<!--<![endif]-->

  <head>
    <block name="meta-keywords">
    <meta name="description" content="公益地图旨在建立草根公益组织与企业、公益人之间信息对接的平台。在这里，您可以找到全国各地的公益组织，也可以找到企业的CSR项目。">
    <meta name="keywords" content="中国公益组织,公益机构,名录,地图,公益项目,企业CSR报告,对接案例,新闻">
    </block>
    <meta name="author" content="NGO20-中国公益2.0项目">
    <meta name="other" content="中国都由哪些草根公益组织？中国所有的公益组织网站,微博,微信">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="google-translate-customization" content="44d41f0d07cd23db-706a5687f4b69682-g76a6e16d360e3d07-11"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title><block name="title"></block>{:tmpl_global('title')} {:L('PAGE_TITLE')}</title>
    <block name="css-framework">
        {:css('jquery-ui')}
        {:css('font-awesome.min')}
        {:css('jquery.fancybox')}
        {:css('bootstrap')}
        {:css('header')}
        {:css('homepage')}
        {:css('slidebars')}
        {:css('responsive-main')}
    </block>

        
    <block name="head">
    </block>
        {:css()}
  
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?872dddf0962c4b1a38db3a043b36affc";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

</head>
  
<body>
<div id="sb-site">


<div style="width:0;height:0;overflow:hidden;"><img src="__APP__/Public/img/ngo20-logo-big.png" style="width:0;height:0;" title="公益地图-NGO20" alt=""></div>

<div id="header" class="navbar navbar-top">
  <div class="navbar-inner">
    <div class="container container-full-width page-container page-container-responsive navbar-container">
      <div class="left-side-menu-button fa fa-bars sb-toggle-left mobile-only"></div>
      <a href="{:U('Index/index')}" class="brand NGO20">NGO20</a>
      <ul class="nav hide-phone">
        <li id="header-search">
         <form action="{:U('Search/result')}" id="search-form">
           <div id="search-bar">
             <i class="icon icon-search-homepage"></i>
             <input type="text" placeholder="{:L('SEARCH_BOX_PLACEHOLDER')}" autocomplete="off" name="q" id="header-search-input">
             <div id="header-search-result">
                <span class="search-sub-text">{:L('SEARCH_BOX_RESULT_PLACEHOLDER')}</span>
             </div>
           </div>
         </form>
        </li>
      </ul>
      <ul class="nav pull-right help-menu hide-phone" style="margin-left:0;">
        
        <li class="list-your-space hide-phone">
          <a id="create-event-button" class="" href="{:U('Event/add')}">{:L('BUTTON_PUBLISH_EVENT')}</a>
        </li>
      </ul>
      <ul class="nav pull-right logged-out">
        <li><a data-login-modal="" href="{:U('Index/list_index')}">{:L('LINK_NAME_BOOK')}<i class="icon-dropdown"></i></a></li>
        <?php if (!user()): ?>
        <li class="hide-phone"><a class="fancybox.ajax fancybox register-link" href="__APP__/Account/partial_register_box">{:L('LINK_SIGN_UP')}</a></li>
        <li class="hide-phone"><a class="fancybox.ajax fancybox login-link" href="__APP__/Account/partial_login_box">{:L('LINK_LOG_IN')}</a></li>
        <?php else: ?>
        <include file="layout:_login_stab"/>
        <?php endif ?>

        <?php if (LANG_SET == C('DEFAULT_LANG')): ?>
        <li class="hide-phone"><a data-login-modal="" href="__SELF__<?php echo (parse_url(__SELF__, PHP_URL_QUERY) ? '&' : '?') . 'l=' . C('SECONDARY_LANG'); ?>">{:C('SECONDARY_LANG_NAME')}<i class="icon-dropdown"></i></a></li>
        <?php else: ?>
        <li class="hide-phone"><a data-login-modal="" href="__SELF__<?php echo (parse_url(__SELF__, PHP_URL_QUERY) ? '&' : '?') . 'l=' . C('DEFAULT_LANG'); ?>">{:C('DEFAULT_LANG_NAME')}<i class="icon-dropdown"></i></a></li>
        <?php endif; ?>

      </ul>
    </div>
  </div>
</div>

<block name="body"></block>
<block name="footer">
<div id="footer">
    <p class="primary-links">{:L('ABOUT_US_LINKS')}</p>
    <p>{:L('COPYRIGHT_LINKS')}</p>
    <p>{:L('CERTIFICATION_LINKS')}</p>

</div>

<div class="ui-front"></div>
</block>
<script>
    var app_path="__APP__";
</script>

{:js('jquery-1.11.1.min')}
{:js('jquery-ui.min')}
{:js('bootstrap.min')}
{:js('jquery.fancybox')}
{:js('slidebars')}
{:js('header')}
{:js('toastr.min')}

<block name="script-before"></block>
{:js()}
<block name="script-after"></block>
<?php if(true || isset($_SESSION['flash']) || isset($with_notification)): ?>

{:css('-toastr.min')}
<?php endif; ?>
<?php if(isset($_SESSION['flash'])): ?>
  <script>
  $(function(){
    toastr.{$_SESSION.flash.type}('{$_SESSION.flash.content}');
  });
  </script>
  <?php unset($_SESSION['flash']); ?>
<?php endif; ?>
{:js()}
<script>
// Include the UserVoice JavaScript SDK (only needed once on a page)
UserVoice=window.UserVoice||[];(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/qFoPqAhobLYZMAb72mKZw.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})();

//
// UserVoice Javascript SDK developer documentation:
// https://www.uservoice.com/o/javascript-sdk
//

// Set colors
UserVoice.push(['set', {
  accent_color: '#448dd6',
  trigger_color: 'white',
  trigger_background_color: 'rgba(46, 49, 51, 0.6)'
}]);

// Identify the user and pass traits
// To enable, replace sample data with actual user traits and uncomment the line
UserVoice.push(['identify', {
  //email:      'john.doe@example.com', // User’s email address
  //name:       'John Doe', // User’s real name
  //created_at: 1364406966, // Unix timestamp for the date the user signed up
  //id:         123, // Optional: Unique id of the user (if set, this should not change)
  //type:       'Owner', // Optional: segment your users by type
  //account: {
  //  id:           123, // Optional: associate multiple users with a single account
  //  name:         'Acme, Co.', // Account name
  //  created_at:   1364406966, // Unix timestamp for the date the account was created
  //  monthly_rate: 9.99, // Decimal; monthly rate of the account
  //  ltv:          1495.00, // Decimal; lifetime value of the account
  //  plan:         'Enhanced' // Plan name for the account
  //}
}]);

// Add default trigger to the bottom-right corner of the window:
UserVoice.push(['addTrigger', { mode: 'contact', trigger_position: 'bottom-right' }]);

// Or, use your own custom trigger:
//UserVoice.push(['addTrigger', '#id', { mode: 'contact' }]);

// Autoprompt for Satisfaction and SmartVote (only displayed under certain conditions)
UserVoice.push(['autoprompt', {}]);


</script>
    <?php if (LANG_SET != C('DEFAULT_LANG')): ?>
<div id="google_translate_element" style="position:absolute;left: -1000px;"></div><script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'zh-CN', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, autoDisplay: false}, 'google_translate_element');
  setTimeout(force_google_translate, 1000);
}

function force_google_translate(){
  var iframe = $('.goog-te-menu-frame');
  var link = $('span.text:contains("English")', iframe.contents());
  if(link.length > 0){
    link[0].click();
  }
  else{
    setTimeout(force_google_translate, 1000);
  }
}
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        
<?php endif ?>


</div> <!-- sb-site -->

<div class="sb-slidebar sb-left mobile-only">
  <form action="{:U('Search/result')}" id="sidebar-search-form">
     <i class="fa fa-search slidebar-search-icon"></i>
     <input type="text" placeholder="{:L('SEARCH_BOX_PLACEHOLDER')}" name="q">
  </form>
  <ul class="slidebar-menu">
    <li><a href="#">发布活动 / 项目</a></li>
    <li><a href="#">登录</a></li>
    <li><a href="#">注册</a></li>
  </ul>
</div>



</body>
</html>
