<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <title><block name="title"></block></title>
        <!-- 引入 WeUI -->
        <link rel="stylesheet" href="http://res.wx.qq.com/open/libs/weui/0.4.2/weui.css"/>
        <block name="css">
        </block>
    </head>
    <body>
        <!-- 使用 -->
        <script>
            var app_path="__APP__";
        </script>
        <block name="content">
        </block>
    </body>
</html>
