form{
    margin:0;
}

.pager-brief{
    float: right;
    color: #555;
    padding-top: 21px;
    position: static;
}

#admin-actions{
    margin: 10px 0;
}

.pagination{
    margin: 10px 0;
}

.strong{
    color: #e67e22;
}