.modal {
    -webkit-transform: translate3d(100%,0,0);
    -ms-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
}

input[type=color], input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], select, textarea {
    padding: 21px 15px;
}

.content{
    background-color: #fafafa;
}

.content .table-view {
    margin-top: 15px;
}

.bar-nav~.content{
    padding-top: 0;
}

.content{
    top: 44px;
}