@media (max-width: 980px) {

    .left-fluid-column{
        display: none;
    }

    .mobile-search-filter{
        background-color: #c5c5c1;
        padding: 3px 5px;
        position: relative;
    
        box-shadow: 0 1px 2px #666;
}

    .mobile-search-filter .filter-action{
        display: block;
        -webkit-box-sizing : border-box;‌​
        -moz-box-sizing : border-box;
        box-sizing : border-box;
    
        width: 100%;
        font-size: 11.12px;
        padding: 16px 13px;
        margin: 0;
        border-radius: 0;
        background: white;
}

    .mobile-search-filter-icon{
        position: absolute;
        right: 13px;
        top: 13px;
        color: #c7c7c4;
    }

    .result-panel{
        padding: 0;
    }

    .result-panel .result-count{
        font-size: 11.12px;
    
        padding: 6px 10px 4px;
        border-bottom: 1px solid #e1e1ef;
    }

    .result-list li{
    float: none;

    margin: 0;
    padding: 0;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #cac9c6;
    overflow: hidden;
    height: 125px;
    position: relative;
}

    .result-list .item-photo{
    width: auto;

    
    height: 125px;
}

    .result-list .photo-wrapper{
        margin-right: 134px;
    
        overflow: hidden;
}

    .result-list .photo-wrapper img{
        height: 100%;
    }

    .item-org-info{

    }

    .item-org-info .org-logo{
    position: absolute;

    right: 94px;
    bottom: 11px;
    padding: 0;
    width: 32px;
    height: 32px;
}

.item-photo .photo-title{
    text-shadow: none;
    background: none;
    right: 12px;
    top: 20px;
    width: 111px;
    padding: 0;
    margin: 0;
    position: absolute;
    left: initial;
    z-index: 1;
    color: #5a5a5a;
    font-size: 11.12px;
    line-height: 15px;
}

.item-org-info .org-logo img{
    width: 32px;
}

    .item-org-info .org-name{
    position: absolute;

    right: 2px;
    bottom: 18px;
    margin: 0;
    border: 0;
    font-size: 9px;
    width: 86px;
    line-height: 12px;
}

    .item-org-info .org-city{
    position: absolute;
        
    bottom: 11px;
    right: 2px;
    color: #393c3d;
    font-size: 8.34px;
    margin: 0;
    width: 86px;
}


/* remodal */

    .remodal{
        padding: 0;
    }

    .remodal-close{
    right: 7px;

    left: auto;
    top: 6px;
}

    .remodal-title-bar{
    font-size: 16px;

    line-height: 19px;
    padding: 9px;
    border-bottom: 1px solid #c8c8c8;
    background: #fcfcfc;
}

    .remodal-filter{
    padding: 17px 18px 0 18px;

    }

    .remodal-filter .full-width-input{
    width: 100%;
    position: relative;
    margin-bottom: 16px;
}

    .remodal-filter .full-width-input input{
    display: block;
        
    width: 100%;
    border-width: 0;
    padding: 17px 7px;
    border: 1px solid #cdcdcd;
    border-radius: 0;
    font-size: 16px;
    box-sizing: border-box;
    margin: 0;
}

    .remodal-filter .half-width-input{
    display: inline-block;
    border-radius: 0;
    width: 49%;
    padding-right: 5px;
    box-sizing: border-box;
    margin-bottom: 15px;
    position: relative;
}

    .remodal-filter .half-width-input-right{
    padding-left: 3px;
    padding-right: 0;
}

    .remodal-filter .half-width-input select{
    width: 100%;
        
    border-radius: 0;
    border: 1px solid #cdcdcd;
    padding: 0px 4px;
    margin-bottom: 0;
    -webkit-appearance: none;
    height: 36px;
}

    .remodal-filter .search-action-button{
    color: white;
    position: relative;
    background: #279800;
    padding: 8px;
}

    .half-width-input .fa-caret-down, .full-width-input .fa-caret-down{
        position: absolute;
    
        right: 11px;
        top: 12px;
        font-size: 12px;
        color: #959595;
}
    .half-width-input .fa-caret-down{
        right: 15px;
    }

    .half-width-input-right .fa-caret-down{
        right: 10px;
    }

    .search-action-button .fa-search{
        position: absolute;
    
        left: 0;
        top: -2px;
        font-size: 21px;
}
    .action-button-container{
        position: relative;
        width: 91px;
    
        margin-left: auto;
        margin-right: auto;
}

    .load-next-page{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        border-radius: 4px;
        border: 1px solid #c5c5c1;
    
        width: 100px;
        padding: 3px 8px;
        margin-top: 19px;
        font-size: 13px;
        color: #5a5a5a;
}

}