<?php
return array(
    'DB_HOST' => 'localhost',
    'DB_NAME' => 'ngo20map7',
    'DB_USER' => 'root',
    'DB_PWD' => '',
    'DB_PORT' => '3306',
    'DB_PREFIX' => '',
    'SEARCH_API_PATH' => '/Users/wangyu/xunsearch/sdk/php/lib/XS.php',

    // credentials:
    'WECHAT_TOKEN' => '',
    'WECHAT_AESKEY' => '',
    'WECHAT_APPID' => '',
    'WECHAT_APPSECRET' => '',

    'QQ_APPKEY' => '',
    'QQ_APPSECRET' => '',
    'WEIBO_APPKEY' => '',
    'WEIBO_APPSECRET'=> '',
);
?>