<div class="modal-container login-box">
	<a href="#" class=" btn-block qq-signup"><i></i>使用QQ注册</a>
	<a href="#" class=" btn-block weibo-signup"><i></i>使用微博注册</a>
	<div class="signup-or-seperator">
		<span class="signup-or"> 或者 </span>
		<hr/>
	</div>
	<a href="#" class="box-links mail-register-link" onclick="$('.register-with-email').show();$(this).hide()">
		<i class="icon icon-mail"></i>
		使用电子邮件注册
	</a>
	<div class="register-with-email" style="display:none;">
		<form class="email-register-form">
			<div class="signup-email">
				<input class="btn-block" name="email" placeholder="电子邮件"/>
			</div>
			<div class="signup-name">
				<input class="btn-block" name="name" placeholder="姓名"/>
			</div>
			<div class="signup-password">
				<input class="btn-block" name="password" type="password" placeholder="密码"/>
			</div>
			<div class="signup-password">
				<input class="btn-block" type="password" placeholder="再次输入密码"/>
			</div>
			<a href="#" class="btn-block login-button" onclick="do_register();">注册</a>
		</form>
	</div>
	<p class="sub-text">
		注册即意味着我同意NGO20的<a href="#" class="box-links">用户协议</a>
	</p>
	<div class="login-seperator"><hr/></div>
	已经有帐号了？<a href="javascript:$('.login-link').click();" class="register-from-login">现在登录</a>
</div>